.resume_Wrapper{
    padding: 20px 0px;
}
.experienecard{
    background-color: var(--second-bg-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.experienecard span{
    font-size: 13px;
    color: #ddd;
}
.experienecard:hover{
    transform: scale(1.01);
}