
.skillscard{
    background-color: var(--second-bg-color);
    height: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    position: relative;
}
.skillLogos{
    font-size: 50px;
    transition: 0.5s;
}
.skillscard:hover .skillLogos{
    transform: scale(1.1);
    color: var(--main-color);
}
.skillscard:hover p{
    display: block;
    
}
.skillscard p{
    position: absolute;
    bottom: -10px;
    display: none;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {

    .skillscard p{
        position: absolute;
        bottom: -10px;
        display: block;
        font-weight: bold;
    }
    .skillscard{
        background-color: var(--second-bg-color);
        height: 115px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        position: relative;
    }
}